<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div>
    <a class="blog-contents">{{contents}}</a>
  </div>
  <div class="meta">
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a>{{comments.length}} comment(s)</a>
  </div>
</article>