<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      {{!-- <div class="title"></div> --}}
      <a href="/post/{{post.id}}">{{post.title}}</a>
      <div class="meta">
        Posted by {{post.user.username}} on
        {{format_date post.createdAt}}
        |
        {{post.comments.length}} comment(s)
      </div>
    </article>
  </li>
  {{/each}}
</ol>